# Ignore .env file (contains sensitive information)
.env

# Ignore Django migration files
# **/migrations/
*/migrations/__pycache__/*.py
*.pyc


# Ignore virtual environment
env/
env/
*.env/

# Ignore any compiled Python files
*.pyc
__pycache__/
